@media only screen and (max-width: 320px) {
  .nav-bar-top {
    gap: 1em;
  }

  .nav-bar-top a {
    font-size: 0.5em;
  }

  .nav-bar-top a:hover {
    color: goldenrod;
    font-size: 0.7em;
  }
  .nav-bar-top a:active {
    color: goldenrod;
    font-size: 0.5em;
  }

  .header-name {
    font-size: 1.5em;
  }

  .header-info,
  .media p,
  .skill-item {
    font-size: 0.8em;
  }

  .media-header h2 {
    font-size: 1.5em;
  }

  .media-overflow {
    overflow: auto;
  }
}

@media only screen and (min-width: 320px) and (max-width: 771px) {
  .nav-bar-top {
    gap: 0.7em;
  }
  .nav-bar-top a {
    font-size: 0.8rem;
  }

  .nav-bar-top a:hover {
    color: goldenrod;
    font-size: 1.1rem;
  }
  .nav-bar-top a:active {
    color: goldenrod;
    font-size: 0.9em;
  }

  .header-name {
    font-size: 45px;
  }

  .media-overflow {
    overflow: auto;
  }
}

@media only screen and (min-width: 771px) {
  .header-name {
    font-size: 55px;
  }
  .nav-bar-top a:hover {
    color: goldenrod;
    font-size: 2em;
  }
  .nav-bar-top a:active {
    color: goldenrod;
    font-size: 1.5em;
  }
}
